*~
.eunit
deps
ebin
*.o
*.beam
*.plt
*.DS_Store
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.toc
*.pdf
*.glg
*.glo
*.gls
*.ist
*.swp
*.log
*.csv
*.txt
log_report
*-MIB.hrl
.dialyzer_plt
.dialyzer-output
Mnesia.nonode@nohost
include/records.hrl.my	
tests/*
doc/*
Mnesia*
